
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to our website</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'resturant/style.css' %}">
  </head>
  <body>
    <h1>Welcome to our website</h1>
    <p>Choose a restaurant to book a table and view the menu:</p>
    <ul>
      {% for restaurant in restaurants %}
      <li><a href="{% url 'book_table' restaurant.id %}">{{ restaurant.name }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
